
.version-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 10px;
    margin: 16px;
    // margin-top: 2500px;
    position: absolute;
    bottom: 0;
}

.version-main > img {
    margin-bottom: 10px;
    margin-left: 6px;
}

.version-risktable {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 11px;
    margin: 16px;
    position: absolute;
    bottom: 0;
    // margin-top: 1600px;
}

.version-risktable > img {
    margin-bottom: 10px;
    margin-left: 10px;
}

.side-navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 67px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #231F20;
    z-index: 1002;
}

.main-logo {
    background: url('/3sc-Logo.svg') no-repeat center;
    background-size: 40px 40px;
    min-width: 50px;
    min-height: 50px;
    border: 0;
    margin: 10px 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}

.tab-heading {
    font-size: 8px;
    font-weight: 700;
    // margin: 5px 5px 5px 5px;
    color: white;
    text-align: center;
}
.sidenav-logo {
    border: 0;
    outline: 0;
    background: none;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 1003;
}
.hover-swe-lefttriangle {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid transparent;
    border-right: 11px solid #fd835c;
    height: 13px;
    margin-left: -3px;
    margin-top: 15px;
}
.sidenav-logo > img {
    width: 30px;
}
.active-nav {
    border: 0;
    outline: 0;
    background: rgb(255, 72, 0);
    padding: 10px;
    margin-top: 10px;
}
.hover-reports {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1002;
    text-align: center;
    top: 90px;
    left: 44px;
}
.hover-dt {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1002;
    text-align: center;
    top: 285px;
    left: 44px;
}
.hover-swe {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1002;
    text-align: center;
    top: 330px;
    left: 45px;
}
.hover-riskai {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1002;
    text-align: center;
    top: 135px;
    left: 44px;
}
.hover-report-content {
    padding: 7px 9px 7px 9px;
    font-weight: 300;
    font-size: 11px;
    width: 110px;
    color: #FFFFFF;
    background-color: #fd835c;
    border-radius: 5px;
}
.hover-swe-tooltip-content {
    padding: 7px 9px 7px 9px;
    font-weight: 300;
    font-size: 11px;
    width: 140px;
    color: #FFFFFF;
    background-color: #fd835c;
    border-radius: 5px;
    margin-top: 8px;
}
.hover-riskai-content {
    padding: 7px 9px 7px 9px;
    font-weight: 300;
    font-size: 11px;
    width: 140px;
    color: #FFFFFF;
    background-color: #fd835c;
    border-radius: 5px;
}
.hover-swe-content {
    border: 0;
    outline: 0;
    background: none;
    padding: 5px;
    margin-top: 15px;
    position: relative;
    z-index: 1003;
    color: #FFFFFF;
    cursor: pointer;
}
.hover-swe-content-active {
    border: 0;
    outline: 0;
    background: none;
    padding: 5px;
    margin-top: 15px;
    position: relative;
    z-index: 1003;
    color: #fd835c;
    cursor: pointer;
}
.hover-report-lefttriangle,.hover-riskai-lefttriangle {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid transparent;
    border-right: 11px solid #fd835c;
    height: 13px;
    margin-left: -3px;
    margin-top: 7px;
}
.res-logo {
    border: 0;
    outline: 0;
    background: none;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 1003;
}
.hover-res {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1002;
    text-align: center;
    top: 140px;
    left: 44px;
}
.hover-resilience {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1002;
    text-align: center;
    top: 182px;
    left: 44px;
}
.hover-resilience-content {
    padding: 7px 9px 7px 9px;
    font-weight: 300;
    font-size: 11px;
    width: 130px;
    color: #FFFFFF;
    background-color: #fd835c;
    border-radius: 5px;
}
.gauri-logo {
    border: 0;
    outline: 0;
    background: none;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 1003;
}
.hover-gauri {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1002;
    text-align: center;
    top: 235px;
    left: 44px;
}
.hover-gauri-content {
    padding: 7px 9px 7px 9px;
    font-weight: 300;
    font-size: 11px;
    width: 60px;
    color: #FFFFFF;
    background-color: #fd835c;
    border-radius: 5px;
}