
.version-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 10px;
    margin: 16px;
    // margin-top: 2500px;
    position: absolute;
    bottom: 0;
}

.version-main > img {
    margin-bottom: 10px;
    margin-left: 6px;
}

.version-risktable {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 11px;
    margin: 16px;
    position: absolute;
    bottom: 0;
    // margin-top: 1600px;
}

.version-risktable > img {
    margin-bottom: 10px;
    margin-left: 10px;
}

.side-navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 67px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #231F20;
    z-index: 1002;
}

.main-logo {
    min-width: 50px;
    min-height: 50px;
    border: 0;
    margin: 10px 8px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.main-logo img {
    width: 50px;
    height: auto;
}

.tab-heading {
    font-size: 8px;
    font-weight: 700;
    // margin: 5px 5px 5px 5px;
    color: white;
    text-align: center;
}
.sidenav-logo {
    border: 0;
    outline: 0;
    background: none;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 1003;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hover-swe-lefttriangle {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid #fd835c;
    margin-right: 2px;
}
.sidenav-logo > img {
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
}
.active-nav {
    border: 0;
    outline: 0;
    background: rgb(255, 72, 0);
    padding: 10px;
    margin-top: 10px;
}
.hover-reports {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1002;
    text-align: center;
    top: 90px;
    left: 67px;
}
.hover-dt {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1002;
    text-align: center;
    top: 285px;
    left: 67px;
}
.hover-swe {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1002;
    text-align: center;
    top: 330px;
    left: 67px;
}
.hover-riskai {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1002;
    text-align: center;
    top: 135px;
    left: 67px;
}
.hover-report-content {
    padding: 7px 9px 7px 9px;
    font-weight: 300;
    font-size: 11px;
    width: 110px;
    color: #FFFFFF;
    background-color: #fd835c;
    border-radius: 5px;
}
.hover-swe-tooltip-content {
    padding: 7px 9px 7px 9px;
    font-weight: 300;
    font-size: 11px;
    width: 140px;
    color: #FFFFFF;
    background-color: #fd835c;
    border-radius: 5px;
    margin-top: 8px;
}
.hover-riskai-content {
    padding: 7px 9px 7px 9px;
    font-weight: 300;
    font-size: 11px;
    width: 140px;
    color: #FFFFFF;
    background-color: #fd835c;
    border-radius: 5px;
}
.hover-swe-content {
    border: 0;
    outline: 0;
    background: none;
    padding: 5px;
    margin-top: 15px;
    position: relative;
    z-index: 1003;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}
.hover-swe-content-active {
    border: 0;
    outline: 0;
    background: none;
    padding: 5px;
    margin-top: 15px;
    position: relative;
    z-index: 1003;
    color: #fd835c;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}
.hover-report-lefttriangle,.hover-riskai-lefttriangle {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid #fd835c;
    margin-right: 2px;
}
.res-logo {
    border: 0;
    outline: 0;
    background: none;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 1003;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.res-logo > img {
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
}
.hover-res {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1002;
    text-align: center;
    top: 140px;
    left: 67px;
}
.hover-resilience {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1002;
    text-align: center;
    top: 182px;
    left: 67px;
}
.hover-resilience-content {
    padding: 7px 9px 7px 9px;
    font-weight: 300;
    font-size: 11px;
    width: 130px;
    color: #FFFFFF;
    background-color: #fd835c;
    border-radius: 5px;
}
.gauri-logo {
    border: 0;
    outline: 0;
    background: none;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 1003;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gauri-logo > img {
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
}
.hover-gauri {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1002;
    text-align: center;
    top: 235px;
    left: 67px;
}
.hover-gauri-content {
    padding: 7px 9px 7px 9px;
    font-weight: 300;
    font-size: 11px;
    width: 60px;
    color: #FFFFFF;
    background-color: #fd835c;
    border-radius: 5px;
}